body {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.card {
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 25px;
    width: 330px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

.photo {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 15px;
}

h1 {
    color: #e91e63;
    margin: 10px 0;
}

.message {
    font-size: 15px;
    color: #555;
    line-height: 1.6;
}

.proposal {
    margin-top: 15px;
    color: #d81b60;
    font-size: 22px;
}

.from {
    margin-top: 10px;
    font-weight: bold;
    color: #e91e63;
}

button {
    margin-top: 20px;
    background: #e91e63;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #c2185b;
}
.buttons {
    margin-top: 20px;
    position: relative;
}

#yesBtn, #noBtn {
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

#yesBtn {
    background: #e91e63;
    color: white;
}

#noBtn {
    background: #ccc;
    color: #333;
    position: absolute;
}

.answer-text {
    margin-top: 15px;
    font-size: 16px;
    color: #d81b60;
    font-weight: bold;
}
